* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid rgba(255, 0, 0, 0.3); */
}
.header {
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #1E2A38;
}
.web-name {
    position: absolute;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
}
.header-choose {
    position: relative;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 960px;
    gap: 35px;
    white-space: nowrap;
}
.services,
.why-us,
.contacts {
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services:hover,
.contacts:hover,
.why-us:hover {
    color:#dbd9d9;
}
.main-header {
    position: relative;
    color: #1E2A38;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-left: 600px;
    max-width: 500px;
    margin-top: 100px;
}
.text {
    position: relative;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#1E2A38;
    margin-left: 600px;
    margin-top: 20px;
    max-width: 350px;
}
.wave-img {
    position: absolute;
    width: 450px;
    height: 500px;
    margin-top: -100px;
    transform: translate(-30px,-500px);
    margin-left: 1px;
    z-index: 0;
}
.choose {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-top: 160px;
    gap: 50px;
}
.choose-1,
.choose-2,
.choose-3,
.choose-4 {
    width: 240px;
    height: 100px;
    background-color:#e0e0e0;
    color:#1E2A38;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width:786px) {
    .header-choose {
        display: none;
    }
    .choose {
        margin-top: 40px;
        margin-left: 80px;
        z-index: 100;
    }
    .choose-1,
    .choose-2,
    .choose-3,
    .choose-4 {
        width: 200px;
        height: 70px;
        background-color:#e0e0e0;
        color:#1E2A38;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    .main-header {
        font-size: 30px;
        margin-left: 30px;
        margin-top: 550px;
        z-index: 100;
    }
    .text {
        max-width: 300px;
        font-size: 14px;
        margin-left: 50px;
        z-index: 100;
        margin-top: 20px;
    }
    .wave-img {
        position: absolute;
        margin-top: -100px;
        margin-left: 10px;
        width: 420px;
        transform: translate( -40px,-1010px);

    }
}
.prices-name {
    position: relative;
    margin-left: 400px;
    margin-top: 40px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color:#1E2A38;
}
.box {
    position: relative;
    width: 700px;
    height: 300px;
    background-color:#7fedf5;
    margin-top: 20px;
    margin-left: 450px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
}
.box-1 {
    width: 100%;
    height: 60px;
    background-color:white;
    color:#1E2A38;
}
.box-1-text {
    position: absolute;
    margin-top: 15px;
    margin-left: 100px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.box-1-text-2 {
    position: absolute;
    margin-top: 15px;
    margin-left: 240px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.box-1-text-3 {
    position: absolute;
    margin-top: 15px;
    margin-left: 600px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.box-2 {
    width: 100%;
    height: 60px;
    background-color:#7fedf5;
    color:#1E2A38;
}
.box-2-text {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 105px;
    margin-top: 15px;
}
.box-2-text-2 {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 240px;
    margin-top: 15px;
}
.box-2-text-3 {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 590px;
    margin-top: 15px;
    color:#d40f0f;
}
.box-3 {
    width: 100%;
    height: 60px;
    background-color:white;
    color:#1E2A38;
}
.box-3-text {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 105px;
    margin-top: 15px;
}
.box-3-text-2 {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 240px;
    margin-top: 15px;
}
.box-3-text-3 {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 590px;
    margin-top: 15px;
    color:#d40f0f;
}
.box-4 {
    width: 100%;
    height: 60px;
    background-color:#7fedf5;
    color:#1E2A38;
}
.box-4-text {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 105px;
    margin-top: 15px;
}
.box-4-text-2 {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 240px;
    margin-top: 15px;
}
.box-4-text-3 {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 590px;
    margin-top: 15px;
    color:#d40f0f;
}
.box-5 {
    width: 100%;
    height: 60px;
    background-color: white;
}
.box-5-text {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 105px;
    margin-top: 15px;
}
.box-5-text-2 {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 240px;
    margin-top: 15px;
}
.box-5-text-3 {
    position: absolute;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-left: 590px;
    margin-top: 15px;
}
.our-works img {
    position: absolute;
    width: 350px;
    height: 250px;
    margin-left: 600px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 29px;
}

.our-works {
    width: 390px;
    height: 250px;
}

.img-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    transition: opacity 0.5s ease;
}

.img-slide.active {
    display: block;
}
.buttons {
    position: absolute;
    margin-left: 650px;
    margin-top: 20px;
    gap: 40px;
    display: flex;
    flex-direction: row;
}
.button-1,
.button-2 {
    width: 70px;
    height: 70px;
    background-color: #1E2A38;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    cursor: pointer;
}
@media screen and (max-width:786px) {
    .prices-name {
        font-size: 30px;
        margin-left: 20px;
    }
    .box {
        margin-left: 10px;
        width: 380px;
    }
    .box-1-text,
    .box-2-text,
    .box-3-text,
    .box-4-text,
    .box-5-text {
        margin-left: 25px;
        font-size: 18px;
    }
    .box-1-text-2,
    .box-2-text-2,
    .box-3-text-2,
    .box-4-text-2,
    .box-5-text-2 {
        margin-left: 50px;
        font-size: 18px;
    }
    .box-1-text-3,
    .box-2-text-3,
    .box-3-text-3,
    .box-4-text-3,
    .box-5-text-3 {
        margin-left: 280px;
        font-size: 16px;
    }
    .img-slide {
        width: 115%;
        height: 115%;
    }
    .our-works img {
        width: 340px;
        height: 220px;
        margin-left: 10px;
    }
    .button-1,
    .button-2 {
        width: 60px;
        height: 60px;
    }
    .buttons {
        margin-left: 100px;
        margin-top: 10px;
    }
}
.contact {
    position: relative;
    margin-top: 20px;
    width: 100px;
    height: 10px;
}
.contact-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:#1E2A38;
    width: 100px;
    height: 50px;
    margin-left: 450px;
    margin-top: 130px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.adres-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:#1E2A38;
    width: 100px;
    height: 50px;
    margin-left: 450px;
    margin-top: 180px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.adres {
    position: absolute;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#1E2A38;
    margin-top: 220px;
    margin-left: 450px;
    white-space: nowrap;
}
.time-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:#1E2A38;
    width: 100px;
    height: 50px;
    margin-left: 450px;
    margin-top: 260px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.time {
    position: absolute;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#1E2A38;
    margin-top: 300px;
    margin-left: 450px;
    white-space: nowrap;
}
.tele-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:#1E2A38;
    width: 100px;
    height: 50px;
    margin-left: 450px;
    margin-top: 340px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.tele {
    position: absolute;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#1E2A38;
    margin-top: 380px;
    margin-left: 450px;
    white-space: nowrap;
}
.mail-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:#1E2A38;
    width: 100px;
    height: 50px;
    margin-left: 450px;
    margin-top: 410px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.mail {
    position: absolute;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#1E2A38;
    margin-top: 440px;
    margin-left: 450px;
    white-space: nowrap;
}
.mess-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:#1E2A38;
    width: 100px;
    height: 50px;
    margin-left: 450px;
    margin-top: 470px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.mess {
    position: absolute;
    margin-left: 450px;
    margin-top: 510px;
    gap: 30px;
    display: flex;
    flex-direction: row;
}
.mess-1,
.mess-2 {
    width: 150px;
    height: 100px;
    background-color:#f5f5f5;
    border-radius:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mess-2-img {
    width: 70px;
    height: 70px;
}
.mess-img {
    width: 75px;
    height: 70px;
}
.map {
    position: absolute;
    margin-top: 0px;
    transform: translateY(-370px);
    margin-left: 380px;
    width: 400px;
    height: 350px;
    border-radius: 10px;
}
.footer {
    position: absolute;
    width: 100%;
    height: 480px;
    margin-top: 650px;
    margin-left: 0px;
    background-color:#050440;
}
.footer-name {
    position: absolute;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 100px;
    margin-top: 60px;
}
.footer-img {
    position: absolute;
    width: 65px;
    height: 60px;
    margin-left: 100px;
    margin-top: 120px;
}
.footer-2-img {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 180px;
    margin-top: 115px;
}
.footer-menu {
    position: absolute;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-left: 470px;
    margin-top: 75px;
    color: white;
}
.links {
    position: absolute;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 475px;
    margin-top: 130px;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}
.services-footer-name {
    position: absolute;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-left: 700px;
    margin-top: 75px;
    color: white;
}
.services-choose {
    position: absolute;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 120px;
    margin-left: 705px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}


.footer-contact-name {
    position: absolute;
    font-size: 17px;
    font-family: fantasy;
    color:white;
    width: 100px;
    height: 50px;
    margin-left: 950px;
    margin-top: 50px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.footer-adres-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:white;
    width: 100px;
    height: 50px;
    margin-left: 950px;
    margin-top: 100px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.footer-adres {
    position: absolute;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:white;
    margin-top: 140px;
    margin-left: 950px;
    white-space: nowrap;
}
.footer-time-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:white;
    width: 100px;
    height: 50px;
    margin-left: 950px;
    margin-top: 180px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.footer-time {
    position: absolute;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:white;
    margin-top: 220px;
    margin-left: 950px;
    white-space: nowrap;
}
.footer-tele-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:white;
    width: 100px;
    height: 50px;
    margin-left: 950px;
    margin-top: 260px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.footer-tele {
    position: absolute;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:white;
    margin-top: 300px;
    margin-left: 950px;
    white-space: nowrap;
}
.footer-mail-name {
    position: absolute;
    font-size: 20px;
    font-family: fantasy;
    color:white;
    width: 100px;
    height: 50px;
    margin-left: 950px;
    margin-top: 330px;
    margin-bottom: 20px;
    z-index: 100;
    white-space: nowrap;
}
.footer-mail {
    position: absolute;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:white;
    margin-top: 360px;
    margin-left: 950px;
    white-space: nowrap;
}
@media screen and (max-width:786px) {
    .footer {
        height: 1100px;
    }
    .footer-contact-name {
        font-size: 24px;
        margin-left: 90px;
        margin-top: 610px;
    }
    .adres-name {
        font-size: 11px;
        margin-left: 100px;
        margin-top: 70px;
    }
    .adres {
        font-size: 11px;
        margin-left: 100px;
        margin-top: 100px;
    }
    .time-name {
        font-size: 11px;
        margin-left: 100px;
        margin-top: 120px;
    }
    .time {
        font-size: 11px;
        margin-left: 100px;    
        margin-top: 160px; 
    }
    .tele-name {
        font-size: 11px;
        margin-left: 100px;    
        margin-top:190px; 
    }
    .tele {
        font-size: 11px;
        margin-left: 100px;    
        margin-top: 220px;
    }
    .mail-name {
        font-size: 11px;
        margin-left: 100px;  
        margin-top: 250px;
    }
    .mail {
        font-size: 11px;
        margin-left: 100px;  
        margin-top: 280px;  
    }
    .mess {
        margin-left: 60px;
        margin-top: 310px;
    }
    .mess-name {
        display: none;
    }
    .mess-1, .mess-2 {
        width: 100px;
        height: 60px;
    }
    .mess-img {
        width: 50px;
        height: 45px;
    }
    .mess-2-img {
        width: 50px;
        height: 50px;
    }
    .map {
        width: 270px;
        height: 270px;
        margin-left: -10px;
        margin-top: 440px;
    }
    .links {
        margin-left: 150px;
        margin-top: 200px;
        font-size: 17px;
    }

    .footer-adres-name {
        margin-left: 140px;
        margin-top: 660px;
    }
    .footer-adres {
        margin-left: 90px;
        margin-top: 690px;
    }
    .footer-time-name {
        margin-left: 130px;
        margin-top: 730px;
    }
    .footer-time {
        margin-left: 120px;
        margin-top: 770px;
    }
    .footer-tele-name {
        margin-left: 140px;
        margin-top: 810px;
    }
    .footer-tele {
        margin-left: 135px;
        margin-top: 850px;
    }
    .footer-mail-name {
        margin-left: 160px;
        margin-top: 890px;
    }
    .footer-mail {
        margin-left: 110px;
        margin-top: 930px;
    }
    .services-choose {
        margin-left: 110px;
        margin-top: 410px;
    }
    .services-footer-name {
        margin-left: 130px;
        margin-top: 370px;
    }
    .services {
        margin-left: 10px;
    }
    .footer-menu {
        margin-left: 145px;
        margin-top: 160px;
        font-size: 28px;
    }
    .footer-name {
        margin-top: 30px;
    }
    .footer-img {
        margin-top: 80px;
        margin-left: 110px;
    }
    .footer-2-img {
        margin-top: 80px;
        margin-left: 200px;
    }
    .contact-name {
        display: none;
    }
}
.the-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.the-last-line {
    position: absolute;
    width: 90%;
    height: 0.1px;
    transform: scaleY(0.5px);
    background-color:#aaa;
    margin-top: 850px;
}
.last-name {
    position: absolute;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: white;
    margin-top: 450px;
    margin-left: 45%;
}
@media screen and (max-width:786px) {
    .the-last-line {
        margin-top: 2000px;
    }
    .last-name {
        margin-top: 1025px;
        margin-left: 32%;
    }
}
.menu {
    position: fixed;
    width: 100%;
    height: 400px;
    background-color:#1E2A38;
    left:0;
    top: -70%;
    z-index: 100;
}
@media screen and (max-width:786px) {
    .link-menu-1 {
        position: fixed;
        font-size: 24px;
        color: white;
        margin-left: 40%;
        margin-top: 30%;
        font-family: 'Poppins', sans-serif;
    }
    .link-menu-2 {
        position: fixed;
        font-size: 24px;
        color: white;
        margin-left: 40%;
        margin-top: 50%;
        font-family: 'Poppins', sans-serif;
    }
    .link-menu-3 {
        position: fixed;
        font-size: 24px;
        color: white;
        margin-left: 40%;
        margin-top: 70%;
        font-family: 'Poppins', sans-serif;
    }
    .menu-link {
        position: fixed;
        font-size: 40px;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 5%;
        margin-left: 25%;
    }
    .close-icon {
        position: fixed;
        width: 60px;
        height: 60px;
        margin-left: 80%;
        margin-top: 5%;
    }
}